.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}
.pagination button {
  background-color: #ffcc00;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.pagination button:disabled {
  background-color: #777;
  cursor: not-allowed;
}
.pagination span {
  color: white;
  font-weight: bold;
}
